<br>
<div class="jumbotron">
  <h1>Sign Up Confirmation</h1>
  <p>Are you sure these values are correct?</p>
  <br>
  <p>Email: <%= @user.email %></p>
  <p>
  <p>Name: <%= @user.name %></p>
  <br>

    <div class="btn-group">
    <button class="btn btn-success" type="button"><%= link_to "Yes", {:controller => "users", :action => "create", :params => params}, method: :post, style: 'color:whitesmoke;' %></button>
    <!-- <button class="btn btn-danger" type="button"><%= link_to "No", new_user_path, style: 'color:whitesmoke;' %></button> -->
    <button class="btn btn-danger" type="button"><%= link_to "No", {:controller => "users", :action => "new", :params => params}, method: :post, style: 'color:whitesmoke;' %></button>

    </div>

</div>
